{% extends "layout.html" %}

{% block mainContent %}
  <p>This is the about us page</p>
  <span id="black-fog-name"> William Cai  </span>
  <img id="black-fog-headshot" src="wcai.png"> </img>

  <span id="black-fog-name"> Heesun Lee </span>
  <img id="black-fog-headshot" src="hlee.png"> </img>

  <span id="black-fog-name"> Jackson Feeny </span>
  <img id="black-fog-headshot" src="jfee.png"> </img>

  <span id="black-fog-name"> Can Esturk </span>
  <img id="black-fog-headshot" src="cest.png"> </img>

{% endblock %}
