{% extends "layout.html" %}

{% block mainContent %}
<h1 id="title"> This is our team! </h1> 
  <span id="black-fog-name"> William Cai  </span>
  <img id="black-fog-headshot" src="wcai.png"> </img><br>

  <span id="black-fog-name"> Heesun Lee </span>
  <img id="black-fog-headshot" src="hlee.png"> </img><br>

  <span id="black-fog-name"> Jackson Feeny </span>
  <img id="black-fog-headshot" src="jfee.png"> </img><br>

  <span id="black-fog-name"> Can Esturk </span>
  <img id="black-fog-headshot" src="cest.png"> </img><br>

{% endblock %}
