{% extends "layout.html" %}

{% if test == '0' %}
{% block tests %}
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='112850825-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->
{% endblock %}
{% endif %}


{% block header %}
  <header>
    <h1>{{ title }} FTW</h1>
  </header>
{% endblock %}



{% block mainContent %}
  <p>
    Welcome to {{ title }}. {{tagline}}
    <img id="logo" src="bf.png">
  </p>
  <p>
    List of events:
  </p>
  <div style="border: 1px solid black">
    {% if test == '0' %}
    {% include "fragments/events-list.html" %}
    {% else %}
    {% include "fragments/modified-events-list.html" %}
    {% endif %}
  </div>
  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
{% endblock %}
