{% extends "layout.html" %}                                           
                                                                      
{% block mainContent %}  
<h1 id="title"> {{event.title}} </h1>
<span id="date">{{event.date|prettyDate}} </span>
<span id="location">{{event.location}} </span>
<img src={{event.image}} id="image"> </img>
<ul id="attendees">
  {% for a in event.attending %}
    <li> {{a}} </li>
  {% endfor %}
</ul>

 <form id="body" method="POST">     
    <label for="email">RSVP</label> 
    <input type="email" name="email" id="email">
    <input type="submit" value="Submit">
</form>

{% if errors %}
<ul class="form-errors">
 {% for e in errors %}
 <li> {{e}} </li>
 {% endfor %}
</ul>
{% endif %}

<a href = "/thanks" class="donation"> ! </a>

<!-- Load the Content Experiment JavaScript API client for the experiment -->
<script src="//www.google-analytics.com/cx/api.js?experiment=2rqxfw2VTbi2D4bZF-n-Cw"></script>
            
<!-- Load the JQuery library -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
                                
<script>                        
// Define JavaScript for each page variation of this experiment.
var pageVariations = [                                          
  function() {// do nothing                                     
    $( 'a.donation' ).prepend( 'Support' );
},                                                              
  function() {    // Variation 1: Support!                      
    $( 'a.donation' ).prepend( 'Donate' );                         
  }                                                             
];                                                              
                                                                
// Wait for the DOM to load, then execute the view for the chosen variation.
$(document).ready(function(){                                   
  // Ask Google Analytics which variation to show the user.     
  var chosenVariation = cxApi.chooseVariation();                
                                                                
  // Execute the chosen view                                    
  pageVariations[chosenVariation]();                            
}                                                               
);                                                              
</script>   
{% endblock %}




