{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>Sprint Report 4</h1>
    <h2> Black Fog Coding Team </h2>
    <h6>William Cai (william.cai@yale.edu), 
Can Esturk (can.esturk@yale.edu), 
Jackson Feeny (jackson.feeny@yale.edu), 
Heesun Lee (heesun.lee@yale.edu)</h6>
    <h4> November 16, 2015 </h4>
  </header>
{% endblock %}

{% block mainContent %}
  <p>
    <img src="sprint4.png">
  </p>
<h1> Sprint Completed Stories </h1>
<ul>
  <li> About section (Information about our company (our names and pictures)) (5)</li>
</ul>

<h1> Sprint 4 Backlog</h1>
<ul>
<li>  Create an event skeleton/framework/Page (4) </li>
<li>  Create a “create event” functionality section(13) </li>
</ul>

<h1> Progress </h1>
During our fourth sprint, we did not complete the
 list of stories in our product backlog. We were only able to create 
our about section, which contains our group members along with short
bios. Last week our coders encountered
 some technical issues, which we discussed at one of our virtual standup meetings.
They asked for more to plan out the event object before implementing it. Because of the
 time needed for the research, the product owner changed the sprint 4
 structure and pushed two stories (above) into the sprint 4 backlog.  
<p></p>
In terms of agile and scrum practices; as we mentioned in our previous report
, we were able to deal with communication issues and in this sprint we
 realized the second positive outcome. After the discussion about the technical
 issue, we looked at our product backlog and realized that we
 had underestimated the complexity of create an event functionality. 
Also after a stakeholder’s new demand about event information, we
 added new story to our product backlog. We also deleted old completed 
stories from waffle. One can reach our updated backlog 
<a href=https://waffle.io/black-fog/mgt656-spring-2015-project> here. </a>

As of now, our application has an <a href="http://mgt656-black-fog.herokuapp.com/about">about page</a>
a <a href="http://mgt656-black-fog.herokuapp.com/events/new">skeleton new event page</a>
a <a href="http://mgt656-black-fog.herokuapp.com">home page </a>that has our app logo and a list of
events including the date and number of attendees. 

For sprint 5, we plan on continuing to work through our Product Backlog. 
We plan on completing items 1, 2, and 3 by our next sprint. 
We believe that with our improved communication and project processes in
 place, our coding and sprint reports will flow more
 smoothly with increased understanding by all team members. 

<h1> Product Backlog </h1>
<ul>
<li>Create an event skeleton/framework/Page (3)</li>
<li>Create a “create event” functionality section(13)</li>
<li>RSVP for an event (8)</li>
<li>Event detail page for events (5)</li>
<li>API skeleton (3)</li>
<li>API functionality (7)</li>
</ul>

{% endblock %}
