
<!DOCTYPE html>
<html>
  <head>
  



    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
  </head>

	<body class="container">

    
  <header>
    <h1>Final Report</h1>
    <h2> Black Fog Coding Team </h2>
    <h6>William Cai (william.cai@yale.edu), 
Can Esturk (can.esturk@yale.edu), 
Jackson Feeny (jackson.feeny@yale.edu), 
Heesun Lee (heesun.lee@yale.edu)</h6>
    <h4> December 11, 2015 </h4>
  </header>


    
  <p>
    <img src="final.png">
  </p>


<h1> Project Status </h1>
As mentioned in our Sprint 6 report, all of our user stories are completed and we are passing all of the required tests. 
You can view our updated backlog at <a href="https://waffle.io/black-fog/mgt656-spring-2015-project"> here. </a> 
By visiting our  <a href="http://mgt656-black-fog.herokuapp.com/">home page, </a> you can see how users can navigate through the different segments of our website. 
The user is able to create a new event through our <a href=" http://mgt656-black-fog.herokuapp.com/events/new "> create a new event page.</a> 
The user can create an event by inserting the following relevant 
information: title, location, associated image and specific date and time. Events can be seen on our homepage or on the 
<a href="http://mgt656-black-fog.herokuapp.com/events">events page</a> 
Clicking on the event will lead them to the relevant <a href=" http://mgt656-black-fog.herokuapp.com/events/0">event information page</a>. 
After reaching this page, they can see who else has RSVPed 
to the event and also RSVP themselves.
<p></p>
We had one final scrum meeting this week. 
We discussed the results of the Google Analytics testing and the significance of the results. 
We concluded the meeting by conclusively determining the next steps for the final report.

<h1> Google Analytics Results </h1>

Our Google Analytics results provided valuable information as to where we were getting traffic to Black Fog 
from and where these users were clicking. This information can be gleaned from the following figures:
<p></p>
 <p>
    <img src="p1.png">
  </p>
<p></p>
We can see from the above figure that the majority of our users are from the United States. 
We see two instances of traffic from China and Russia each. Google Analytics also shows us how the 
users are interacting with our site. In terms of funneling users from our event page to the support page, 
we can see that out of 343 visits to the SOM House Party event page, 7 visits resulted in an offer to support it. 
This can be seen in the above and below figure. After supporting the event, the user went back to the homepage. 
<p></p>
 <p>
    <img src="p2.png">
  </p>
<p></p>
Additionally, our Google Analytics results showed us that adding the word RSVP on event links on the home page 
did not increase click-through rates. In fact, adding RSVP resulted in a lower conversion rate and was 1.75% less effective 
than the original. This is based on 9 days of data and includes 6,273 experiment sessions. With more data, these results might 
change and we could potentially see that it improves click-through rate.
<p></p>
<p>
    <img src="p3.png">
  </p>
<p></p>
For our second Google Analytics test, we conducted an experiment to see whether or not asking the user to donate or support 
would increase our conversion rate. On the graph, our original is when we ask the user to donate to increase conversions. 
The variation is when the user is asked to support. As you can see from our data, asking the user to donate is far more effective, 
with a conversion rate of 5.00% in comparison to supports 2.86%. This is a 42.86% decrease. This data was collected over 3 days and includes 
110 experiment sessions. 
<p></p>
<p>
    <img src="p4.png">
  </p>
<p></p>
<h1> Concluding Thoughts </h1>

<h2> Project Reflection </h2>

Going into the project, none of the team members knew each other. Our initial meeting allowed us to discover each other's 
strengths and we assigned roles accordingly. Jackson and William were assigned roles as the main coders and Heesun and Can were 
the product owner and scrum master. Each week, Heesun and Can changed their roles. Divvying up the roles this way allowed us to 
focus on parts that we feel comfortable with and also increased efficiency.
<p></p>
However, there were some initial communication issues within our team, especially during the first and second meetings. 
As mentioned above, we thought dividing roles would be efficient but in response, the communication response rate declined 
very dramatically to the point that project progress seemed to cease. Because of this, we were not able to accomplish desired 
number of stories in sprint 1 and 2. In sprint 2 we completed only one story. The main reason behind this was that we were not 
able to employ agile/scrum principles. However, we managed to arrange a meeting before the sprint report 3 and set up some rules 
that what we thought would align with agile/scrum principles. Two of the most important of them were: Emails should be replied to 
in 24 hours and if there is a technical issue, the coder would urgently notify product owner so that we could discuss and re-align stories.
<p></p>
With the help of those internal rules, our teamwork improved and it led to scrum meetings becoming more effective with each sprint. 
On day 1, we had little practice in knowing where to start, how to create a story, and how to assign story points. We markedly improved 
by the sprint report 3 write up and were able to proceed more efficiently. After this threshold, we knew how to better communicate in scrum meetings, 
such as how to transfer insight from product owner to coders and how to implement those stories.

<h2> Project Maintenance </h2>

Passing this project off to someone else would entail multiple actions. First, we would want to provide access to our GitHub repository, 
Heroku app, and our Waffle. Secondly, we would have a meeting where we detail what worked for us and what didn't, all while highly recommending 
the use of scrum/agile methodologies and open communication. We would also provide them with our Google Analytics data and encourage them to 
continue with testing so they can make a strategic decision based on a substantive amount of data. Finally, we would provide recommendations 
for additional features based on the grand vision we have for Black Fog, to be a better and improved version of Eventbrite. 

<h2> Additional Features </h2>

In regards to additional features, we believe that there are a few ways to improve upon our site. 
Firstly, in addition to RSVPing for events, Black Fog could sell tickets to events for individual purchase. 
They could also expand the marketplace so individuals can re-sell their own tickets to events, similar to Ticketmaster. 
Another feature that could increase the utility of our site is to include a search bar. This would allow users to easily 
sift through different events. This would be even more useful if the user could search for events by date, location, and 
type of event, such as music, sports, etc. Another feature that could potentially increase Black Fog's brand is to include a 
sharing feature for events. This would allow users to publicize attendance of an event on social media channels like Facebook or Twitter, 
which would not only drive ticket sales but also increase awareness of Black Fog. Looking forward, after conquering the browser platform, 
we could also look forward to creating an app for iOS and Android devices.

    
      <footer>
      <a href="/about"> About </a>
      <a href="/">Homepage </a> 
      </footer>
    
      <script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-70962616-1', 'auto');
	ga('require', 'linkid');
	ga('send', 'pageview');

      </script>
  </body>
</html>
